@model GlobalGames.Models.JogoInscricaoViewModel


@{
    ViewData["Title"] = "Inscricao";
}

<section id="showcase">
    <div class="container">
        <h1>A melhor plataforma de realidade virtual</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus at sapien dapibus facilisis. Ut maximus nunc urna, non congue diam mattis ut. Fusce eros leo, pulvinar ut ultrices non, aliquam nec quam. Integer gravida ut mauris ac ultrices. Phasellus iaculis elementum condimentum.</p>
    </div>
</section>

<section id="newsletter">
    <div class="container">
        <h1>Subscreve a nossa newsletter</h1>
        <form>
            <input type="email" placeholder="Coloque o email..." />
            <button type="submit" class="button_1">Subscrever</button>
        </form>
    </div>
</section>

<section >
    <div class="container servicos dark">

        <h1 class="titulo">Inscrições para o próximo grande jogo de realidade virtual!</h1>
        <br />
        <form asp-controller="JogoInscricoes" asp-action="Create" enctype="multipart/form-data" id="insc-form" class="orcamento">
            <div>
                <label>Nome</label><br>
                <input asp-for="Nome" type="text" placeholder="Nome" class="form-control insert" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div>
                <label>Apelido</label><br>
                <input asp-for="Apelido" type="text" placeholder="Apelido" class="form-control insert" />
                <span asp-validation-for="Apelido" class="text-danger"></span>
            </div>
            <div>
                <label>Foto/Avatar</label><br>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div>
                <label>Morada</label><br>
                <input asp-for="Morada" type="text" placeholder="Morada" class="form-control insert" />
                <span asp-validation-for="Morada" class="text-danger"></span>
            </div>
            <div>
                <label>Localidade</label><br>
                <input asp-for="Localidade" type="text" placeholder="Localidade" class="form-control insert" />
                <span asp-validation-for="Localidade" class="text-danger"></span>
            </div>
            <div>
                <label>CC</label><br>
                <input asp-for="CC" type="text" placeholder="CC" class="form-control insert" />
                <span asp-validation-for="CC" class="text-danger"></span>
            </div>
            <div>
                <label>Data de Nascimento</label><br>
                <input asp-for="DataNascimento" type="date" placeholder="Data de Nascimento" class="form-control insert" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <br />
            <button class="button_1" type="submit">Inscrever</button>
        </form>
    </div>
</section>
